{% extends "base.html" %}
{% block content %}

<div class='container'>
    <div class='content'>
        <h1>TODO 登録</h1>
        <form action="{% url 'todo:create' %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" class="input-text">
            <input type="submit" value="登録" class='submit-btn'>
        </form>
    </div>
    <div class='content'>
        <h1>TODO 一覧</h1>
        <ul class='list-item'>
            {% for todo in todos %}
            <li>
                <span class="id">{{todo.id}}</span><span class="title">{{todo.title}}</span>
                <span class="ms-2">{{todo.created_at|date:"Y-m-d"}}</span>
                <span class="ms-2">{{todo.created_by|default_if_none:"Guest"}}</span>

                <div class="actions ms-2"><a href="{% url 'todo:edit' todo.id %}">編集</a></div>
                <div class="actions ms-2"><a href=" {% url 'todo:delete' todo.id %}">削除</a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}