{% extends "base.html" %}
{% block content %}

<form action="{% url 'event:create' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <div class="row">
            <div class="col">
                <label for="name" class="form-label">イベント名</label>
                <input type="text" class="form-control" id="name" name="name">
                <label for="description" class="form-label">説明</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
           <div class="col">
                <label for="datelist" class="form-label">候補</label>
                <textarea class="form-control" id="datelist" name="datelist"></textarea>
            </div>
        </div>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

<div>
    {% if events %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">イベント名</th>
                <th scope="col">内容</th>
                <th scope="col">状態</th>
            </tr>
        </thead>
        <tbody>

            {% for event in events %}
            <tr>
                <th scope="row"><a href="{% url 'event:edit' event.id %}">{{ event.id }}</a></th>
                <td><a href="{% url 'event:edit' event.id %}">{{ event.name }}</a></td>
                <td>{{ event.description }}</td>
                <td>
                    {% if event.published %}
                    公開
                    {% else %}
                    非公開
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}